.admin-page {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 1200px;
  min-height: 100vh;
  padding: $db-spacing-20;

  .table {
    margin-top: 24px;
  }
}

// Media Queries
@media screen and (max-width: 768px) {
  .admin-page {
    margin: $db-spacing-8;
    margin-top: 90px;
  }
}
