.login-page {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1200px;
  min-height: 100vh;
  padding: $db-spacing-16;
}


// Media Queries
@media screen and (max-width: 768px) {
  .login-page {
    margin-top: 60px;
  }
}

