.detail-page {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 40px;
  max-width: 1200px;
  min-height: 100vh;
  padding: $db-spacing-20;
  position: relative;

  .product-detail__back-button {
    position: absolute;
    top: 0;
    left: 0;

    &.button--medium {
      padding: $db-spacing-6 $db-spacing-12;

      .bi-arrow-left-short {
        width: $db-spacing-32;
        height: $db-spacing-32;
        color: $db-gray-450;
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 768px) {
  .detail-page {
    margin-top: 90px;
  }
}
