.dropdown-search-box {
  padding: $andes-spacing-16;

  &__container {
    height: $andes-spacing-32;
    position: relative;
  }

  &__search-icon {
    display: flex;
    position: absolute;
    top: calc(50% - 8px);
    left: $andes-spacing-8;
  }

  &__close-icon {
    display: flex;
    position: absolute;
    top: calc(50% - $andes-spacing-8);
    right: $andes-spacing-8;
  }

  &__close-button {
    padding: 0;
    position: absolute;
    top: calc(50% - 8px);
    right: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
  }

  &__input {
    width: 100%;
    height: $andes-spacing-32;
    padding: 6px $andes-spacing-28;
    border: none;
    border-radius: $andes-spacing-16;
    background-color: rgba(0, 0, 0, 0.04);
    outline: none;
    font-size: $andes-spacing-12;
    line-height: 18px;
    font-family: inherit;
    box-sizing: border-box;
    position: relative;

    &:focus {
      box-shadow: none;
      outline: 1.5px solid rgba(65, 137, 230, 0.4);
    }
  }

  .andes-progress-indicator-circular {
    position: absolute;
    top: calc(50% - 8px);
    right: $andes-spacing-8;
  }
}
