// Palette

// Basic colors
$db-white: #fff;
$db-black: #000;

// Translucent grays colors
$db-gray-100: rgba($db-black, 0.1);
$db-gray-250: rgba($db-black, 0.25);
$db-gray-450: rgba($db-black, 0.45);
$db-gray-550: rgba($db-black, 0.55);
$db-gray-700: rgba($db-black, 0.7);
$db-gray-900: rgba($db-black, 0.9);

// DB Colors
$db-primary: #9061c2;

// Fedback colors
$db-positive: rgba(0, 166, 80);
$db-neutral: #3483fa;
$db-warning: rgba(255, 119, 51);
$db-error: rgba(242, 61, 79);
$db-generic: #737373;

// Font colors
$db-color-primary: $db-gray-900;
$db-color-secondary: $db-gray-550;
$db-color-disabled: $db-gray-250;
$db-color-link: rgba(52, 131, 250);
$db-color-negative: $db-error;
$db-color-positive: $db-positive;
$db-color-caution: $db-warning;
$db-color-neutral: $db-neutral;
$db-color-generic: $db-generic;