.instrument-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(201, 201, 201);

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__header:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__image {
    max-height: 220px;
  }

  &__body {
    padding: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__title {
    margin: 12px 0;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }

  &__price {
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
    color: #0c639e;
  }

  &__description {
    color: #737373;
    font-size: 14px;
  }

  &__footer {
    padding: 0 16px 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #0c639e;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
  }
}
