.home-page {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1200px;
  padding: $db-spacing-16;
}


// Media Queries
@media screen and (max-width: 768px) {
  .home-page {
    margin: $db-spacing-8;
    margin-top: 100px;
  }
}

